{% assign featured_slug = page.featured_news
  | default: include.featured_news
  | split: "/"
  | last
  | remove: ".md"
%}
{% assign featured = site.news
  | where_exp: "item", "item.slug == featured_slug"
  | first
%}

<div class="home-main">
  <br />
  <div style="display: flex; flex-direction: row; gap: 30px">
    <img
      width="50%"
      src="{{'images/home/groupphoto2025winter2.png'| relative_url}}"
      class="home-image"
    />
    <img
      width="50%"
      src="{{'images/home/groupphoto2026summer.jpg'| relative_url}}"
      class="home-image"
    />
  </div>
</div>
<br />
{% if featured %}
<h1>Recent News</h1>
<h2>{{ featured.title }}</h2>
{{ featured.content }}
{% endif %}

