<div class="home-main">
  <br />
  <div style="display: flex; flex-direction: row; gap: 30px">
    <img
      width="50%"
      src="{{'images/home/groupphoto2025winter.jpg'| relative_url}}"
      class="home-image"
    />
    <img
      width="50%"
      src="{{'images/home/groupphoto2025summer.jpg'| relative_url}}"
      class="home-image"
    />
  </div>
</div>
<br />
<h1>Recent News</h1>
<h2>Call for Applications – Undergraduate Research Assistants, Winter 2026</h2>

We are recruiting interns for Winter 2026. The details of the project is written in <a href="https://docs.google.com/document/d/1tVV-UXqryUxNM3kLPidNiNQOo2DT26Q8Yxw6ePAhoK8/edit?usp=sharing">this document</a>. The deadline for applications is <b>11:59PM KST on Nov 3rd (Mon)</b>.

In order to apply, please fill out the <a href="https://forms.gle/4JHx49zafPApDVsh7">Application Form (in English)</a>. 

The compensation for this position is 800,000 KRW per month for a total of two months.

Please note that all lab business is currently handled in English, so applicants should be prepared to communicate in English for all research-related activities.

Application review will begin immediately once the deadline has passed, and candidates who will be interviewed will be contacted within the following week.

